extends ../layouts/default

block head
  meta(property="og:title" content="Local Broward/Dade Pickups")
  meta(property="og:url" content="https://www.sflultimate.com/community")
  meta(property="og:description" content="Learn about the local days, times, and locations for ultimate frisbee pickup near you!")
  meta(property="og:image" content="https://www.sflultimate.com/images/dave-catching-face.jpg")

block content
  .container(ng-app='CommunityApp')
    section(ng-controller='PickupsController')
      h1 Our Ultimate Community
      p.lead Read below to find all the local pickups taking place in the Broward/Dade county area.

      h2 Local Map
      #pickup-listing-map

      h2 Full List
      article(ng-repeat="game in games")
        .row
          div.col-sm-8
            h3
              | {{game.title}}
              span.badge {{game.location.type}}
              br
              small {{game.day}} at {{game.time}}
            p {{game.description}}

          aside.col-sm-4
            address
              strong {{game.location.name}}<br>
              | {{game.location.address.street}}<br>
              | {{game.location.address.city}}, {{game.location.address.state}}, {{game.location.address.zipCode}}<br>

            .btn-group
              a.btn.btn-sm.btn-default(ng-if="game.contact.url" ng-href="{{game.contact.url}}" target="_blank") View Website
              a.btn.btn-sm.btn-default(ng-if="game.contact.email" ng-href="mailto:{{game.contact.email}}" target="_blank") Send Email
              a.btn.btn-sm.btn-default(ng-if="game.contact.phone" ng-href="tel:{{game.contanct.phone}}") Call Phone
              a.btn.btn-sm.btn-default(ng-href="https://www.google.com/maps/place/{{game.location.address.street +' '+game.location.address.city + ' '+game.location.address.state + ' '+game.location.address.zipCode}}" target="_blank") View on Map
        hr(ng-if="!$last")

block js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDld-_TKoN-4PGLgQ1-JwN607eT4RfAMSQ')
  script(src='js/pickup-listings.js')
