extends ../layouts/default

block head
  meta(property="og:title"        content="League Teams")
  meta(property="og:url"          content="http://www.sflultimate.com/pickup")
  meta(property="og:description"  content="Learn about local teams and pickups.")

block content
  .container(ng-app='CommunityApp')
    section(ng-controller='PickupsController')
      h1 Our Ultimate Community
      p.lead Read below to find all the local pickups taking place in the Broward/Dade county area.

      article(ng-repeat="game in games")
        .row
          div.col-sm-8
            h3
              | {{game.title}} 
              span.badge {{game.location.type}}
              br
              small {{game.day}} at {{game.time}}
            p {{game.description}}

          aside.col-sm-4
            address
              strong {{game.location.name}}<br>
              | {{game.location.address.street}}<br>
              | {{game.location.address.city}}, {{game.location.address.state}}, {{game.location.address.zipCode}}<br>
            
            .btn-group
              a.btn.btn-sm.btn-default(ng-if="game.contact.url" ng-href="{{game.contact.url}}" target="_blank") View Website
              a.btn.btn-sm.btn-default(ng-if="game.contact.email" ng-href="mailto:{{game.contact.email}}" target="_blank") Send Email
              a.btn.btn-sm.btn-default(ng-if="game.contact.phone" ng-href="tel:{{game.contanct.phone}}") Call Phone
              a.btn.btn-sm.btn-default(ng-href="https://www.google.com/maps/place/{{game.location.address.street +' '+game.location.address.city + ' '+game.location.address.state + ' '+game.location.address.zipCode}}" target="_blank") View on Map
        hr(ng-if="!$last")

block js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
  script.
    angular.module('CommunityApp', [])
      .controller("PickupsController",function ($http, $scope) {

        var query = $http.get('/pickups');

        query.then(function (res) {
          $scope.games = res.data; 
        });


      /*
          These are the games that I pulled from the pick-up Ultimate site that I have heard are legit but I have never played:
          Key Biscayne Ultimate (Never been to this game)
          Contact: Grant
          Email: gkunks@gmail.com
          Phone: 561.247.2684
          Website: http://www.ratradio.net

          Sundays: 6:00 @ Mast Academy

          Fields: Turf or Grass, depending on which field
          Description: We've been playing at Key Biscayne and Virginia Key for over 10 years now, but we have been adding more and more people over the last few years. Most of our players are from Key Biscayne but we have a good amount who come from the mainland. We range in age from 16 to 60 (average late 20's) years old, mostly male. We are pretty liberal with the rules (ie. NO hold/stall count or bricks) but most violations are enforced one way or another. 

          Hialeah Ultimate Frisbee (Never been to this game)
          Contact: Daniela Larez
          Email: daniela.larez@gmail.com
          Website: https://www.facebook.com/groups/87229532865/?notif_t=group_name_change

          Thursdays: 6:30PM-9PM

          Fields: Grass field Outdoors
          Description: THURSDAYS: 
          Sparks Park
          1301 W 60th St, Hialeah, FL 33012
          6:30 PM – 9:00 PM

          SUNDAYS: Please email or follow us at 
          https://www.facebook.com/groups/87229532865/?fref=ts
          for updates

       */
    });

