extends ../layouts/default

block content
  .container: .jumbotron
    h1 Thank you!
    p We've successfully received your payment!
    p.text-center 
      a.btn.btn-primary.btn-lg Register for Spring League