extends ../layouts/default
block content
    style.
        table a {
            text-decoration: underline;
            color: #333;
        }
    .container-fluid(ng-app='draftboardApp')

        h1=league.title + " Draftboard"
        if user
            #logged-in
        #draftboard(ng-controller='PlayerTableController')
            .drafted-teams.row
                .col-md-4(ng-repeat="team in teams" ng-if="user")
                    table.table
                        thead
                            tr
                                th {{team.name}} ({{team.players.length}})
                                th Actions
                        tbody
                            tr(ng-repeat="playerID in team.players")
                                td {{playerMap[playerID].name.first}} {{playerMap[playerID].name.last}} ({{playerMap[playerID].gender.charAt(0)}})
                                td
                                    button.btn.btn-default.btn-sm(ng-click="modifyRoster(team, {_id: playerID}, 'remove')") Remove
    
            p.lead There are {{players.length}} players registered.

            .btn-group
                .btn.btn-default(ng-click="sortPlayersByRecency()") Sort By Recent
                .btn.btn-default(ng-click="sortByGenderThenSkill()") Sort By Gender, Then Skill
                .btn.btn-default(ng-click="showOnlyCaptains()") Show Only Captains
                .btn.btn-default(ng-click="showOnlySponsors()") Show Only Sponsors
            //    .btn.btn-default(ng-click="filterPlayers('2020-01-11')") Jan. 11th Event
            //    .btn.btn-default(ng-click="filterPlayers('2020-02-02')") Feb. 2nd

            table.table.table-hover.table-striped
                thead
                    th Number
                    th Name
                    th Gender
                    th Date Registered
                    th Age
                    th Shirt Size
                    th Positions
                    th Skill
                    th Attendance
                    th Will Attend Finals?
                    th Partner
                    th Comments
                    th Would Captain?
                    th Would Sponsor?
                    th Donated
                    th(ng-if="user") Actions
                tbody
                    tr(ng-repeat='player in players | orderBy:"-skill"')
                        td {{$index + 1}}
                        td <a ng-href="{{player.url}}" target="_blank">{{player.name.first}} {{player.name.last}}</a>
                        td {{player.gender.charAt(0)}}
                        td {{formatDate(player.createdAt)}}
                        td {{player.age}}
                        td {{player.shirtSize}}
                        td {{player.preferredPositions.join(", ")}}
                        td {{player.skillLevel}}
                        td {{player.participation}}
                        td {{player.willAttendFinals ? 'Yes': 'No'}}
                        td {{player.partnerName}}
                        td 
                         | <small class="badge" ng-style="getBadgeStyle(player)">{{player.team ? "Rostered": "Unassigned"}}</small> {{player.comments}} 
                        td {{player.wouldCaptain ? 'Yes': ''}}
                        td {{player.wouldSponsor ? 'Yes': ''}}
                        td ${{player.donationAmount}}
                        td(ng-if="user") 
                            button(ng-repeat="team in teams" ng-click="modifyRoster(team, player, 'add')" ng-if="!player.team").btn.btn-default Add To {{team.name}}
                            
                        

            .row
                .col-md-12
                    h3 Breakdowns
                div(ng-repeat="mapName in keysForTotals").col-md-6
                    h4 {{formatMapName(mapName)}} 
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th(ng-repeat="column in columnsForTotals[mapName]") {{ column }}
                                th Count
                        tbody
                            tr(ng-repeat="(key, count) in totals[mapName]")
                                td(ng-repeat="column in key.split('|')") {{ column }}
                                td {{count.toLocaleString()}}

block js
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='/js/draftboard.js')
