extends ../layouts/default

block content

    .container-fluid(ng-app='draftboardApp')
        if user
            #loggedin

        h1=league.title + " Draftboard"
        #draftboard(ng-controller='PlayerTableController')
            p.lead There are {{players.length}} players registered.

            .btn-group
                .btn.btn-default(ng-click="sortPlayersByRecency()") Sort By Recent
                .btn.btn-default(ng-click="sortByGenderThenSkill()") Sort By Gender, Then Skill
            //    .btn.btn-default(ng-click="filterPlayers('2020-01-11')") Jan. 11th Event
            //    .btn.btn-default(ng-click="filterPlayers('2020-02-02')") Feb. 2nd

            table.table.table-hover.table-striped
                thead
                    th Number
                    th Name
                    th Gender
                    th Date Registered
                    th Age
                    th Shirt Size
                    th Skill
                    th Attendance
                    th Partner
                    th Comments
                    th Would Captain?
                tbody
                    tr(ng-repeat='player in players | orderBy:"-skill"')
                        td {{$index + 1}}
                        td {{player.name.first}} {{player.name.last}}
                        td {{player.gender.charAt(0)}}
                        td {{formatDate(player.createdAt)}}
                        td {{player.age}}
                        td {{player.shirtSize}}
                        td {{player.skillLevel}}
                        td {{player.participation}}
                        td {{player.partnerName}}
                        td 
                         | <small class="badge" ng-style="getBadgeStyle(player)">{{player.team ? "Rostered": "Unassigned"}}</small> {{player.comments}} 
                        td {{player.wouldCaptain ? 'Yes': ''}}

            .row
                .col-md-12
                    h3 Breakdowns
                div(ng-repeat="mapName in keysForTotals").col-md-6
                    h4 {{formatMapName(mapName)}} 
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th(ng-repeat="column in columnsForTotals[mapName]") {{ column }}
                                th Count
                        tbody
                            tr(ng-repeat="(key, count) in totals[mapName]")
                                td(ng-repeat="column in key.split('|')") {{ column }}
                                td {{count.toLocaleString()}}

block js
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='/js/draftboard.js')
