extends ../layouts/default

block head
  meta(property="og:title"        content="South Florida Ulitmate")
  meta(property="og:url"          content="http://www.sflultimate.com/")
  meta(property="og:description"  content="Since 1968, we promote, develop, & enjoy the sport of Ultimate Frisbee in the Miami & Ft. Lauderdale area, working always as a non-for-profit organization.")

  meta(property="og:image"        content="http://www.sflultimate.com/images/open-graph/homepage.jpg")
  meta(property="og:image:width"  content="1200")
  meta(property="og:image:height" content="630")

block css
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css")

block content
  .container
    .jumbotron
      .row
        .col-sm-4
          img.logo-circled.img-responsive(src='/images/logo-circled.png')
        .col-sm-8
          h1 Welcome!
          p South Florida Ultimate's 2016 Spring League season is now under way!
          a.btn.btn-primary.btn-lg(href="/schedule") View Schedule
    .row
      .col-md-8
        .banner
          ul
            li
              img.img-responsive(src="/images/league-champions-2015-fall.jpg")
            li
              img.img-responsive(src="/images/league-champions-2015-spring.jpg")
            li
              img.img-responsive(src="/images/league-champions-2014-fall.jpg")
            li
              img.img-responsive(src="/images/league-champions-2014-spring.jpg")
            li
              img.img-responsive(src="/images/league-champions-2013-spring.jpg")
      .col-md-4
          h3 2016 League Standings
          table.table.table-striped(id="standings")
            thead
              th Color
              th Wins
              th Losses
              th Point Diff
            tbody

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js")
  script.
    (function ($){
      $('.banner').unslider({
        animation: 'fade',
        autoplay: true,
        arrows: false,
        nav: false
      });

      var $standings = $("#standings").find('tbody');

      $.get('/?f=json').done(function (data) {

        data = Object.keys(data).map(function (color) {

          var o = data[color];
          o.color = color;
          return o;
        });

        data = data.sort(function (team1, team2) {
          var team1Record = team1.wins - team1.losses;
          var team2Record = team2.wins - team2.losses;
          return team2Record - team1Record;
        });

        d.pointDiff = d.pointDiff > 0 ? "+"+d.pointDiff : d.pointDiff;

        data.forEach(function (d) {
          $standings.append("<tr><td>"+d.color+"</td><td>"+d.wins+"</td><td>"+d.losses+"</td><td>"+d.pointDiff+"</td></tr>");
        });
      });
    })(jQuery);