extends ../layouts/default

block head
  meta(property="og:title"        content="South Florida Ulitmate")
  meta(property="og:url"          content="http://www.sflultimate.com/")
  meta(property="og:description"  content="Since 1999, players from Dade & Broward counties unite to grow the awesome sport of Ultimate Frisbee.")

  meta(property="og:image"        content="http://www.sflultimate.com/images/aikeem-the-dream.jpg")
  //- meta(property="og:image:width"  content="1200")
  //- meta(property="og:image:height" content="630")

block css

block content

  .call-to-action(style='background-image:url("/images/aikeem-the-dream.jpg")')
    .container
      .row
        .col-md-8
          h1 Time To Cleat Up
          p Since 1999, players from Dade & Broward counties unite to grow the awesome sport of Ultimate Frisbee.
          p Teams have been drafted.
      div.text-center
        a.btn.btn-lg.btn-primary(href="/teams") See Your Teams

  .features
    .container
      h2.text-center Why play South Florida Ultimate?
      hr.sfl-divider
      .row
        article.col-sm-4.text-center
          i.fa.fa-smile-o.fa-4x
          h3 Community
          p From club athletes to newbies, league welcomes players of all skills & ability 
        article.col-sm-4.text-center
          i.fa.fa-trophy.fa-4x
          h3 Play Ultimate
          p We have 10 regular season games and our final playoff tournament
        article.col-sm-4.text-center
          i.fa.fa-female.fa-4x
          h3 Ladies Welcome
          p Our league is co-ed, and is always excited to invite new lady players!

  section.champions
    aside.text-center
        h2 Hall of Fame
        p The past champions of the South Florida 
    div
      figure
        img.img-responsive(src="/images/league-champions-2016-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2016-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2015-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2015-spring.jpg")
      figure
        img.img-responsive(src="/images/league-medals-2015-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2014-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2014-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2013-spring.jpg")

block js
