extends ../layouts/default

block head
  meta(property="og:title"        content="South Florida Ulitmate")
  meta(property="og:url"          content="http://www.sflultimate.com/")
  meta(property="og:description"  content="Since 1968, we promote, develop, & enjoy the sport of Ultimate Frisbee in the Miami & Ft. Lauderdale area, working always as a non-for-profit organization.")

  meta(property="og:image"        content="http://www.sflultimate.com/images/open-graph/homepage.jpg")
  meta(property="og:image:width"  content="1200")
  meta(property="og:image:height" content="630")

block css
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css")

block content

  .call-to-action
    h3 Time To Cleat Up
    p Since 1989, we together players from across Dade & Broward counties to help grow the awesome sport of Ultimate Frisbee.
    p We are excited to bring you another season, and look forward to drafting our next set of teams and setting our new schedule.
    img.img-responsive(src="/images/time-to-cleat-up.jpg")


  .features
    .container
      .row
        article.col-sm-4.text-center
          i.fa.fa-smile-o.fa-4x
          h3 Community
          p From club athletes to newbies, league welcomes players of all skills & ability 
        article.col-sm-4.text-center
          i.fa.fa-trophy.fa-4x
          h3 Play Ultimate
          p We have 10 regular season games and our playoff tournament
        article.col-sm-4.text-center
          i.fa.fa-female.fa-4x
          h3 Ladies Welcome
          p Our league is co-ed, and is always excited to invite new lady players!

  section.champions
    aside.text-center
        h2 Hall of Fame
        p The past champions of the South Florida 
    div
      figure
        img.img-responsive(src="/images/league-champions-2016-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2016-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2015-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2015-spring.jpg")
      figure
        img.img-responsive(src="/images/league-medals-2015-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2014-fall.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2014-spring.jpg")
      figure
        img.img-responsive(src="/images/league-champions-2013-spring.jpg")

block js
