extends ../layouts/default

block head
  meta(property="og:title"        content="South Florida Ulitmate")
  meta(property="og:url"          content="http://www.sflultimate.com/")
  meta(property="og:description"  content="Since 1968, we promote, develop, & enjoy the sport of Ultimate Frisbee in the Miami & Ft. Lauderdale area, working always as a non-for-profit organization.")

  meta(property="og:image"        content="http://www.sflultimate.com/images/open-graph/homepage.jpg")
  meta(property="og:image:width"  content="1200")
  meta(property="og:image:height" content="630")

block css
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css")

block content
  .container
    .jumbotron
      .row
        .col-sm-4
          img.logo-circled.img-responsive(src='/images/logo-circled.png')
        .col-sm-8
          h1 Welcome!
          p Check out this season's schedule.  Stats to come soon!
          //- a.btn.btn-primary.btn-lg(href="/register")
            //- i.fa.fa-sign-in
            //- |  Register Now!
          a.btn.btn-primary.btn-lg(href="/schedule") View Schedule
    .row
      .col-md-8
        .banner
          ul
            li
              img.img-responsive(src="/images/league-champions-2016-spring.jpg")
            li
              img.img-responsive(src="/images/league-champions-2015-fall.jpg")
            li
              img.img-responsive(src="/images/league-champions-2015-spring.jpg")
            li
              img.img-responsive(src="/images/league-champions-2014-fall.jpg")
            li
              img.img-responsive(src="/images/league-champions-2014-spring.jpg")
            li
              img.img-responsive(src="/images/league-champions-2013-spring.jpg")
      .col-md-4
          //- h3 Building Ultimate
          //- p Since 1968, The South Florida League brings together beginner and expert players from across Dade & Broward with the expressed goal of growing the awesome sport of Ultimate Frisbee.
          //- p We are excited to bring you another season of Ultimate, and look forward to drafting our next set of teams and setting our new schedule.
          .standings
            h3 2016 League Standings
            table.table.table-striped(id="standings")
              thead
                th Color
                th Wins
                th Losses
                //- th Point Diff
              tbody
                tr
                  td Green
                  td 6
                  td 2
                tr
                  td Pink
                  td 4
                  td 4
                tr
                  td Black
                  td 5
                  td 3
                tr
                  td Blue
                  td 1
                  td 7


block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js")
  script.
    (function ($){
      $('.banner').unslider({
        animation: 'fade',
        autoplay: true,
        arrows: false,
        nav: false
      });

      return

      var $standings = $("#standings").find('tbody');

      $.get('/?f=json').done(function (data) {

        data = Object.keys(data).map(function (color) {

          var o = data[color];
          o.color = color;
          return o;
        });

        data = data.sort(function (team1, team2) {
          var team1Record = team1.wins - team1.losses;
          var team2Record = team2.wins - team2.losses;
          return team2Record - team1Record;
        });


        data.forEach(function (d) {
          d.pointDiff = d.pointDiff > 0 ? "+"+d.pointDiff : d.pointDiff;
          $standings.append("<tr><td>"+d.color+"</td><td>"+d.wins+"</td><td>"+d.losses+"</td><td>"+d.pointDiff+"</td></tr>");
        });
      });
    })(jQuery);