extends ../layouts/default

block head
  meta(property="og:title"        content="South Florida Ulitmate")
  meta(property="og:url"          content="http://www.sflultimate.com/")
  meta(property="og:description"  content="Since 1999, players from Miami & Ft. Lauderdale have united to promote grow the awesome sport of Ultimate Frisbee.")
  meta(property="og:image"        content="http://www.sflultimate.com/images/hatter-beach-ultimate.jpg")

block css

block content


  .call-to-action(style='background-image:url("/images/beach-ultimate-cover.jpg")')
    .video-full-screen
      video(autoplay muted loop)
        source(src='http://d137pw2ndt5u9c.cloudfront.net/SFL_Community_Beach_Hatter_2019.mp4' type='video/mp4')
    .container
      .row
        .col-md-6
          h1 Welcome
          p Since 1999, players from Dade & Broward counties unite to grow the awesome sport of Ultimate Frisbee.
          p We now welcome you to our first beach hatter this January 11th
      div.text-center
        a.btn.btn-lg.btn-primary(href="/register") Sign Up For Beach Hatters

  .features
    .container
      h2.text-center Why play South Florida Ultimate?
      hr.sfl-divider
      .row
        article.col-sm-4.text-center
          i.fa.fa-smile-o.fa-4x
          h3 Community
          p From club athletes to newbies, league welcomes players of all skills & ability
        article.col-sm-4.text-center
          i.fa.fa-trophy.fa-4x
          h3 Play Ultimate
          p We have 10 regular season games and our final playoff tournament
        article.col-sm-4.text-center
          i.fa.fa-female.fa-4x
          h3 Ladies Welcome
          p Our league is co-ed, and is always excited to invite new lady players!

  //- Commented out
    .container(ng-app="scheduleApp")
      .row
        .col-md-4
          h3 Current Standings
          p Here you can see the current standings for the league teams!
        .col-md-8
          div(ng-controller="ScheduleViewController")
            table.table.table-striped.table-bordered.text-center(style="margin-top: 2em;")
              thead
                th.text-center Color
                th.text-center Wins
                th.text-center Losses
                th.text-center Point Differential
              tbody
                tr(ng-repeat="team in standingsArr")
                  td.text-left
                    {{team.color}}
                  td {{team.wins}}
                  td {{team.losses}}
                  td {{team.pointDiff}}


  section.champions
    aside.text-center
        h2 Hall of Fame
        p The past champions of South Florida
    div
      for image in hallOfFameImages
        figure(style='background-image: url(/images/#{image});')

block js
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  script(src="/js/schedule.js")
