extends ../layouts/default

block head
  meta(property="og:title"        content="Spring League Schedule")
  meta(property="og:url"          content="https://www.sflultimate.com/schedule")
  meta(property="og:description"  content="Discover the games schedule for " + locals.league.title)

  meta(property="og:image"        content="https://www.sflultimate.com/images/open-graph/schedule.jpg")
  meta(property="og:image:width"  content="1200")
  meta(property="og:image:height" content="630")

block content
  .container(ng-app="scheduleApp")
    .schedule(ng-controller="ScheduleViewController")
      section
        h1 Schedule
        p.lead
          | Pick your color to filter schedule by your team.<br>
          span.team-color(ng-repeat="team in teams" ng-style="{'background-color': team.color}" ng-click="filterScheduleFor(team)")
      table.table.table-striped.table-bordered
        thead
          th Date
          th Time
          th Matchup
          th Field
        tbody
          tr(ng-repeat="game in games | filter:colorFilter" ng-class="(game.scheduledTimeEpoch < $parent.today) ?'text-muted': ''")
            td {{game.scheduledTime | date: 'EEE. MMM d'}}
            td {{game.scheduledTime | date: 'h:mma'}}
            td
              span {{game.homeTeam.name}} vs. {{game.awayTeam.name}}
              span(ng-if="game.homeScore && game.awayScore") ({{game.homeScore}}-{{game.awayScore}})
              //- span(ng-if="!game.homeScore && !game.awayScore && (1481518800000 - $parent.today) > 0") (Missing stats for game)
            td {{locations[game.location] ? locations[game.location].name: 'TBD'}}
          tr(ng-class="(1481518800000 - $parent.today > 0) ? '':'text-muted' ")
            td Dec 12th
            td 11:00AM-3:00PM
            td League Finals
            td Amelia Earhart Park

block js
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  script(src="/js/schedule.js")
