html
  head
    title South Florida Fall League 2016 Stat Sheet
    link(rel='stylesheet' href='/styles/site.css' media='all')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed")
    style.
      @page {
          size: auto;
          margin: 1em;
      }

      td, th, p {
        font-size: 1.5em;
      }

      .table-bordered, .table-bordered td, .table-bordered th {
        border: 3px solid #4a4a4a !important;
      }

      .logo {
        max-height: 340px;
        float: right;
        margin-top: 1em;
      }

  body(ng-app='StatSheetApp')

    .container(ng-controller='StatSheetController')

      section(ng-repeat="team in teams" style='page-break-after: always')
        .row
          .col-xs-8
            header.page-header
              h1 
                | Team {{team.color}} 
                small Stat Sheet

            h3 Game Date:

            table.table.table-bordered.table-striped
              thead
                th Team
                th Score
              tbody
                tr
                  td(style='width: 40%') {{team.color}}
                  td
                tr
                  td(style='width: 40%') Opponent:
                  td
          .col-xs-4
            img(src='/images/flamingo-logo.png' class='img-responsive logo')

        hr
        br

        table.table.table-bordered.table-striped
          thead
            th Player Name
            th Assists
            th Scores
            th Defenses
          tbody
            tr(ng-repeat="player in team.players | orderBy: 'name.first'")
              td(style='width: 25%') {{player.name.first}} {{player.name.last}}
              td(style='width: 25%')
              td(style='width: 25%')
              td(style='width: 25%')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='/js/sheets.js')