mixin icon(url, img, attr)
  a(href=url target="_blank" title=attr)
    img(src="/images/email-signature/icon-"+img+".png" style="width:25px; margin: 5px")

table
  tr
    td
      img(src="/images/logo.png" style="width: 150px;")
  tr
    td(style="text-align:center")
      +icon("https://www.facebook.com/sflultimate/","facebook","SFL Ultimate Facebook")
      +icon("mailto:sflultimate@gmail.com",         "mail",    "SFL Ultimate E-mail")
      +icon("http://sflultimate.com",               "link",    "SFL Ultimate Website")