extends ../layouts/default

block head
  meta(property="og:title"        content="League Stats")
  meta(property="og:url"          content="http://www.sflultimate.com/stats")
  meta(property="og:description"  content="Find out who is making big plays for this year's Fall League.")

block content
  .container(ng-app='StatsApp')
    h1 Spring League Stats
    section(ng-controller='StatsViewController')

      if (false)
        .alert.alert-info
          i.fa.fa-info-circle
          strong  Incomplete Stats: 
          span We still are missing stats from: All Teams on Week 2, and Blue on Week 3.

      h2 Leaderboard

      table.table.table-striped
        thead
          th Rank
          th Team Color
          th First Name
          th Last Name
          th Assists
          th Scores
          th Defenses
          th Overall
        tbody
          tr(ng-repeat="player in leaderboard | orderBy:'-Overall'")
            td {{$index + 1}}
            td
              span.team-color(ng-class="player['Team Color'].toLowerCase()" style="opacity: 0.5; margin-left: 1em;") 
            td {{player["First Name"]}}
            td {{player["Last Name"]}}
            td.
              <span class="badge" ng-if="awards[player.Gender].Assists === player.Assists"   ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Assists"]}}</span>
              <span ng-if="awards[player.Gender].Assists !== player.Assists">{{player["Assists"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Scores === player.Scores"     ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Scores"]}}</span>
              <span ng-if="awards[player.Gender].Scores !== player.Scores">{{player["Scores"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Defenses === player.Defenses" ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Defenses"]}}</span>
              <span ng-if="awards[player.Gender].Defenses !== player.Defenses" >{{player["Defenses"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Overall === player.Overall"   ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Overall"]}}</span>
              <span ng-if="awards[player.Gender].Overall !== player.Overall"> {{player["Overall"]}}</span>

      br
      h2 Rising Contenders
      br

      table.table.table-striped
        thead
          th Rank
          th Team Color
          th First Name
          th Last Name
          th Assists
          th Scores
          th Defenses
          th Overall
        tbody
          tr(ng-repeat="player in contenders | orderBy:'-Overall'")
            td {{$index + leaderboard.length + 1}}
            td
              span.team-color(ng-class="player['Team Color'].toLowerCase()" style="opacity: 0.5; margin-left: 1em;") 
            td {{player["First Name"]}}
            td {{player["Last Name"]}}
            td.
              <span class="badge" ng-if="awards[player.Gender].Assists === player.Assists"   ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Assists"]}}</span>
              <span ng-if="awards[player.Gender].Assists !== player.Assists">{{player["Assists"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Scores === player.Scores"     ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Scores"]}}</span>
              <span ng-if="awards[player.Gender].Scores !== player.Scores">{{player["Scores"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Defenses === player.Defenses" ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Defenses"]}}</span>
              <span ng-if="awards[player.Gender].Defenses !== player.Defenses" >{{player["Defenses"]}}</span>
            td.
              <span class="badge" ng-if="awards[player.Gender].Overall === player.Overall"   ng-style="{'background-color': player.Gender === 'Female'? '#F25974':'#4A7CEC'}">{{player["Overall"]}}</span>
              <span ng-if="awards[player.Gender].Overall !== player.Overall"> {{player["Overall"]}}</span>

block js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script(src='/js/stats.js')