extends ../layouts/default

block head
  meta(property="og:title"        content="League Stats")
  meta(property="og:url"          content="http://www.sflultimate.com/stats")
  meta(property="og:description"  content="Find out who is making big plays for this year's Spring League.")

block content
  .container(ng-app='StatsApp')
    h1 Spring League Stats
    section(ng-controller='StatsViewController')

      if (false)
        .alert.alert-info
          i.fa.fa-info-circle
          strong  Incomplete Stats: 
          span We still have yet to put in stats for the following teams from <u>Week 3</u> and <u>Week 4</u>: Black

      h2 Leaderboard

      table.table.table-striped
        thead
          th Rank
          th Team Color
          th First Name
          th Last Name
          th Assists
          th Scores
          th Defenses
          th Overall
        tbody
          tr(ng-repeat="player in leaderboard | orderBy:'-Overall'")
            td {{$index + 1}}
            td
              span.team-color(ng-class="player['Team Color'].toLowerCase()" style="opacity: 0.5; margin-left: 1em;") 
            td {{player["First Name"]}}
            td {{player["Last Name"]}}
            td {{player["Assists"]}}
            td {{player["Scores"]}}
            td {{player["Defenses"]}}
            td {{player["Overall"]}}

      br
      h2 Rising Contenders
      br

      table.table.table-striped
        thead
          th Rank
          th Team Color
          th First Name
          th Last Name
          th Assists
          th Scores
          th Defenses
          th Overall
        tbody
          tr(ng-repeat="player in contenders | orderBy:'-Overall'")
            td {{$index + leaderboard.length + 1}}
            td
              span.team-color(ng-class="player['Team Color'].toLowerCase()" style="opacity: 0.5; margin-left: 1em;") 
            td {{player["First Name"]}}
            td {{player["Last Name"]}}
            td {{player["Assists"]}}
            td {{player["Scores"]}}
            td {{player["Defenses"]}}
            td {{player["Overall"]}}

block js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script.
    angular.module('StatsApp', [])
      .controller("StatsViewController",function ($http, $scope) {

      var query = $http.get("/stats.csv");

      query.success(function (data) {

        var rows    = data.split("\n");
        var headers = rows.splice(0,1)[0].split(",");

        rows = rows.map(function (row) {

          row   = row.split(",");
          var o = {
            Assists: 0,
            Scores: 0,
            Defenses: 0
          };

          row.forEach(function (cell, i) {

            var column = headers[i];
            
            if (column) {

              var cellNum = parseInt(cell) || 0;

              if (column.indexOf("Assists") > -1) {
                o.Assists  += cellNum;
              }

              if (column.indexOf('Scores') > -1) {
                o.Scores   += cellNum;
              }

              if (column.indexOf('Defenses') > -1) {
                o.Defenses += cellNum;
              }

              o[column] = cell;
            }

          });

          o.Overall = o.Assists + o.Scores + o.Defenses

          return o;
        });

        rows = _.sortBy(rows, function (d) {return d.Overall;}).reverse();

        $scope.leaderboard = rows.splice(0,10);
        $scope.contenders  = rows;

      });

      query.error(function (e) {
        alert("Error connecting to database.");
      })
    });