extends ../layouts/default

block head
  meta(property="og:title"        content="League Teams")
  meta(property="og:url"          content="http://www.sflultimate.com/teams")
  meta(property="og:description"  content="Find out who is on your team for Spring League.")

block content
  .container(ng-app='TeamApp')
    h1 Spring League Teams
    section.team-list(ng-controller='TeamListController')
      article.col-md-6.col-lg-4(ng-repeat='team in teams')
        h3 
          span(ng-class='team.color.toLowerCase()').team-color 
          | {{team.color}}
        p.lead
          span(ng-repeat='captain in team.captains') {{captain.name.first}} {{captain.name.last}} {{!$last ? "&":""}} 
          br
          small.text-muted {{team.womenTotal}} ladies, {{team.menTotal}} dudes
        table.table.table-striped.table-bordered
          tr(ng-repeat='player in team.players | orderBy :"-skillLevel"')
            td {{$index + 1}}. {{player.name.first}} {{player.name.last}}

block js
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
  script(src='/js/team-list.js')