extends ../layouts/default

block content
    div(style="position: relative")
        video(autoplay=true muted=true, loop=true, style="width: 100%; height: auto;")
            source(src="https://d137pw2ndt5u9c.cloudfront.net/youth-sizzle.mp4" type="video/mp4")
        h2(style="position: absolute; color: white; position: absolute;\n" +
        "    color: white;\n" +
        "    bottom: 10%;\n" +
        "    background: #00000080;\n" +
        "    padding: 1rem 2rem;\n" +
        "    font-style: italic;\n" +
        "    letter-spacing: 3px;\n" +
        "}") Youth Ultimate
    .container-fluid
        .row
            .col-sm-8.col-sm-offset-2
                h2 Our Coach
                p Meet Coach Aguiar, a passionate and experienced youth ultimate frisbee coach dedicated to the love for the game while helping young athletes' grow both on and off the field.
                img.img-responsive(src="https://d137pw2ndt5u9c.cloudfront.net/youth-highlight.jpg")
                h4 Coaching Experience
                p With years of coaching experience, Coach Aguiar brings a wide variety of strategies and tactics from all around the world. As a club player, he understands the technical apects of the sport and is skilled at breaking down complex concepts into simple terms for the athletes.
                h4 Philosophy
                p Coach Aguiar coaching philosophy centers around creating a positive and inclusive environment where players feel comfortable to take risks, make mistakes, and learn from each experience. He emphasizes skill development, strategy, and teamwork while explaining how important values such as sportsmanship, respect, and perseverance are in ultimate.
                p Through engaging and dynamic training sessions, Coach Aguiar focuses on teaching fundamental skills such as throwing, catching, cutting, and defensive positioning, while also introducing more advanced tactics and game scenarios. He believes in adapting his coaching approach to meet the individual needs and abilities of each player, ensuring that everyone has the opportunity to succeed and thrive.
                h4 Development
                p Beyond the Xs and Os of the game, Coach Aguiar prioritizes the development of his players, helping their confidence, leadership skills, and sense of belonging within the ultimate frisbee community. He serves as a mentor and role model, inspiring young athletes to reach their full potential both on and off the field.
                h4 Let's Play
                p With Coach Aguiar at the wheel, players not only improve their athletic abilities but also cultivate lifelong friendships, memories, and a deep appreciation for the sport of ultimate frisbee. His passion, dedication, and commitment to excellence make him a valued leader and mentor for youth ultimate frisbee players everywhere.
