{
  "extends": ["standard", "plugin:cypress/recommended", "next"],
  "plugins": [
    "cypress"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "cy": "readonly",
    "db": "readonly",
    "printjson": "readonly"
  }
}
