{
  "extends": "standard",
  "plugins": [
    "cypress",
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "cy": "readonly",
    "db": "readonly",
    "printjson": "readonly"
  }
}
