.bash-video-background {
  position: relative;
  video {
    position: absolute;
    top: 0;
    left: -50%;
    @media screen and (min-width: 855px) {
      left: 0;
      width: 100%;
    }
  }
}

.free-agent-btn {
  margin-left: 1em;
}

.site-header {
  display: none;
}

.beach-bash-hero-container {
  position: relative;
  .jumbotron {
    background: none;
    color: white;
    padding-top: 0;
  }

  img {
    max-width: 60%;
    max-height: 500px;
  }

  .tagline {
    background: rgba(0, 0, 0, 0.44);
    padding: 1em;
    margin: 1em auto;
    max-width: 700px;
    font-size: 1.25em;
  }
}


.beach-bash-content-container {
  background: white;
  position: relative;
  z-index: 1;
  padding-top: 3em;
}


.btn-primary, .credits {
  background-color: #f240ae;
  border-color: darken(#f240ae, 10%);
}

.btn-primary:hover {
  background-color: #2f5962;
  border-color: #0c2b33;
}

.site-footer {
  a {
    color: #1c515d;
  }
  .fa {
    background-color: #f240ae;
  }
}

.team-list-tournament {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.bird-wing-background{
  &:before {
    content: "";
    position: absolute;
    background-image: url('/images/beach-bash-2025-logo-bird.svg');
    opacity: 0.1;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: -62%;
  }
  position: relative;
}
