body {
  font-size: 18px;
}

html, body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.bash-video-background {
  position: relative;
  overflow: hidden;
  video {
    position: absolute;
    top: 0;
    left: -50%;
    @media screen and (min-width: 855px) {
      left: 0;
      height: 100%;
    }
    @media screen and (min-width: 1073px) {
      width: 100%;
      height: auto;
    }
  }
}

.site-header {
  display: none;
}

.beach-bash-hero-container {
  position: relative;
  .jumbotron {
    background: none;
    color: white;
    padding-top: 0;
  }

  img {
    max-width: 60%;
    max-height: 500px;
    margin-bottom: -30px;
  }

  .tagline {
    background: rgba(0, 0, 0, 0.44);
    padding: 1em;
    margin: 1em auto;
    max-width: 700px;
    font-size: 1.25em;
  }
}


.beach-bash-content-container {
  background: white;
  position: relative;
  z-index: 1;
  padding-top: 3em;
}


.btn-primary, .credits {
  background-color: #f240ae;
  border-color: darken(#f240ae, 10%);
}

.btn-primary:hover {
  background-color: #2f5962;
  border-color: #0c2b33;
}

.site-footer {
  a {
    color: #1c515d;
  }
  .fa {
    background-color: #f240ae;
  }
}

.team-list-tournament {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
  grid-column-gap: 0;
  grid-row-gap: 0;
  article {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    min-height: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.team-copy-container {
  width: 100%;
  background: #E91E63;
  padding-top: 2rem;
  padding-bottom: 2rem;
  mix-blend-mode: hard-light;
  h3 {
    margin: 0;
    font-size: 3rem;
  }
}

.bird-wing-background{
  &:before {
    content: "";
    position: absolute;
    background-image: url('/images/beach-bash-2025-logo-bird.svg');
    opacity: 0.1;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: -62%;
  }
  position: relative;
}

.photo-bg-container {
  display: flex;
  flex-wrap: nowrap;
  background-image: url(https://d137pw2ndt5u9c.cloudfront.net/keystone/690f5e33dd11300029e40cb3-690f5defdd11300029e40c54-FBS00185%202.jpg);
  background-size: cover;
  background-position: center center;
  
  .free-agent-btn {
    margin-left: 1rem;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
  .btn {
    background: #e91e6391;
    border: 1px solid pink;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }
}

.cta-container {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.photo-copy {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(321deg, rgba(242, 64, 174, 0.95), rgba(23, 210, 224, 0.84));
  color: white;
  h2 {
    font-size: 3em;
  }
  h3 {
    margin-top: 0;
    font-size: 2.5em;
    margin-bottom: 1rem;
  }
  strong {
    border-bottom: 4px solid #17d2e0;
  }
  @media screen and (max-width: 600px) {
    flex: 2;
  }
}

.photo-bg {
  flex: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  @media screen and (min-width: 700px) {
    height: 700px;
  }
}

.beach-countdown {
  display: flex;
  font-family: "Oswald", sans-serif;
  justify-content: space-around;
  text-transform: uppercase;
  span {
    display: flex;
    flex-direction: column;
    background: #18d2e182;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid #f241af7a;
    box-shadow: 1px 1px 6px #000000a6;
    @media screen and (max-width: 600px) {
      height: 75px;
      width: 75px;
      
    }
  }
  strong {
    font-size: 8rem;
    line-height: 1;
    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
}
