#header {
  margin-top: 2em;
}

$logo-width: 130px;

.navbar-brand {
  position: relative;
  width: 174px;

  img {
    position: absolute;
    top: -25px;
    left: 20px;
    width: $logo-width;
    height: (152/200) * $logo-width;
  }
}

.logo-circled {
  margin: 0 auto 1em auto;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;

  .fa {
    color: #FFF;
    background: #B9B9B9;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
  }

  .fa:hover {
    background: black;
  }
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar.navbar-inverse {
  border-radius: 0;
}

.banner.unslider-fade {
  min-height: 500px;

  @media (max-width: 620px) {
    min-height: 350px;
  }

  @media (max-width: 480px) {
    min-height: 225px;
  }
  
  img {
    width: 100%;
  }
}

.modal-body {
  font-size: 17px;
}


/* Teams List */

.team-list {

  article {
    min-height: 850px;
  }
}

.team-color {
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  position: relative;
  top: 2px;

  &.white, &.yellow {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  .schedule & {
    opacity: 0.5;
    margin-right: 10px;
    &:hover {
      opacity: 0.9;
    }
  }
}


.orange { background-color: orange;  .stats & {background-color: rgba(orange,  0.25);}}
.blue   { background-color: #2A2AD4; .stats & {background-color: rgba(#2A2AD4, 0.25);}}
.yellow { background-color: #FFFF19; .stats & {background-color: rgba(#FFFF19, 0.25);}}
.white  { background-color: white;   .stats & {background-color: rgba(white,   0.25);}}
.red    { background-color: #FD3C3C; .stats & {background-color: rgba(#FD3C3C, 0.25);}}
.grey   { background-color: grey;    .stats & {background-color: rgba(grey,    0.25);}}
.green  { background-color: green;   .stats & {background-color: rgba(green,   0.25);}}
.black  { background-color: black;   .stats & {background-color: rgba(black,   0.25);}}


