// Override Bootstrap variables in this file, e.g.

$font-size-base: 16px;
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Oswald", $font-family-sans-serif;
$headings-font-weight: 700;

$navbar-height: 84px;

$brand-primary: darken(#9b59b6, 10%);