// Override Bootstrap variables in this file, e.g.

$font-size-base: 17px;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Roboto Condensed", $font-family-sans-serif;
$headings-font-weight: 700;

$navbar-height: 50px;

$brand-primary: darken(#9b59b6, 10%);
