<!-- Special Message & Beach Tourney Tomorrow: PLEASE READ & Share -->
<!--file:///Users/dprada/GitHub/sflultimate/templates/emails/email-template.html -->
<div>
  <img src="https://www.sflultimate.com/images/south-florida-2020-final-optimized.png" alt="" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">

  <div style="margin-top: 12px; background-color: #16aae6; border-top: 8px solid #0e6c92; border-bottom: 8px solid #0e6c92; height: 50px;">
  </div>

  <div style="padding: 1em;">

    <p>Hey Beach Players!</p>

    <p>Thank you for registering for our final tourney tomorrow. It's shaping up to look like a beautiful day with some clouds, no precipitation, and a welcoming 20 mph wind. 5 teams have signed up for tomorrow!</p>

    <p>Should you have any issues or questions feel free to call Daniel Prada (me) at 954-990-9846.</p>

    <p><strong>Locations</strong>: Note we are are <u>Crandon Park</u>, use the pins to get to the right spot.</p>

    <ul>
      <li>Parking: <a href="https://maps.app.goo.gl/EnFWanpPdRNPt96V7" target="_blank">Crandon Parking lot # 3</a></li>
      <li>Field: <a href="https://maps.app.goo.gl/JVmeHT5vz4ZuB5SV8" target="_blank">Crandon Beach Waterfront</a></li>
      <li>After Party: <a href="https://goo.gl/maps/mk77eAcXC3BHopsr7" target="_blank">Whiskey Joe's - Miami</a></li>
    </ul>

    <p><strong>Schedule</strong>:</p>
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>10am</th>
          <th>11am</th>
          <th>12pm</th>
          <th>1pm</th>
          <th>2pm</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Field 1</td>
        <td>Nova vs. Party Wave</td>
        <td>Corona del Mar vs. Suns of a Beach</td>
        <td>Nova vs. Corona del Mar</td>
        <td>Nova vs Suns of a Beach</td>
        <td>Party Wave vs Corona del Mar</td>
      </tr>
      <tr>
        <td>Field 2</td>
        <td>Suns of a Beach vs High Manateeance</td>
        <td>High Manateeance vs. Party Wave</td>
        <td>Pary Wave vs. Suns of a Beach</td>
        <td>Corona del Mar vs. High Manateeance</td>
        <td>Nova vs. High Manateeance</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>Corona del Mar</td>
        <td>Nova</td>
        <td>High Manateenence</td>
        <td>Party Wave</td>
        <td>Suns of a Beach</td>
      </tr>
      </tbody>
    </table>

    <p>Here are some quick reminders for our tourney tomorrow:</p>

    <ul>
      <li><strong>There will be prizes for the winners among others</strong>, exciting!</li>
      <li>Bring a white and dark jersey.</li>
      <li>Plan on playing (4) 45 minute games with breaks in between.</li>
      <li>There will be some sweet merchandise coming in hot, so be sure to check it out before all your friends take them.</li>
    </ul>

    <p>In addition, we highly recommend that you follow us on Instagram for photos & videos of tomorrow's games, as we are excited to play some ultimate.</p>

    <p>Thanks,<br/>
    The SFLUltimate Board</p>

  </div>

  <div style="background-color: gray;background-color: #dddddd;text-align: center;padding: 18px;">
    <a href="https://www.facebook.com/sflultimate/"><img src="https://www.sflultimate.com/images/email-signature/icon-facebook.png" style="max-width: 40px; padding: 5px;"></a>
    <a href="https://www.sflultimate.com/"><img src="https://www.sflultimate.com/images/email-signature/icon-link.png" style="max-width: 40px;padding: 5px;"></a>
    <a href="mailto:sflultimate@gmail.com"><img src="https://www.sflultimate.com/images/email-signature/icon-mail.png" style="max-width: 40px;padding: 5px"></a>
  </div>

</div>

<script>

  var $p = document.getElementsByTagName('p');
  var $li = document.getElementsByTagName('li');
  var $td = document.getElementsByTagName('td');

  const globalStyles = {
    fontFamily:"-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
    fontSize: "18px",
    lineHeight: "25px",
    color: "#333"
  };

  const itemStyles = {
    'th': {
      border: '1px solid black',
      'border-collapse': 'collapse'
    },
    'table': {
      border: '1px solid black',
      'border-collapse': 'collapse'
    },
    'td': {
      border: '1px solid black',
      'border-collapse': 'collapse',
      padding: '10px'
    }
  }

  function applyStyles (tag) {
    var $elem = document.getElementsByTagName(tag)
    for (var i = 0; i < $elem.length; i++) {
      for (var style in globalStyles) {
        $elem[i].style[style] = globalStyles[style];
      }
      if (itemStyles[tag]) {
        for (var style in itemStyles[tag]) {
          $elem[i].style[style] = itemStyles[tag][style];
        }
      }
    }
  }

  for (const $elem of ['p', 'li','td', 'th', 'table','td']) {
    applyStyles($elem)
  }
</script>



