<div>
  
  <img src="http://www.sflultimate.com/images/beach-andrea-dumping.jpg" alt="" style="max-width: 100%; height: auto;">

  <div style="background-color: #804399; border-top: 8px solid #4a1560; border-bottom: 8px solid #4a1560;">
    <img src="http://www.sflultimate.com/images/logo-skyline.png" style="height: 150px; width: auto; display: block; text-align:left; margin: 0 auto 0 auto; padding-top: 10px;">
  </div>

  <div style="padding: 1em;">

    
    <p>Welcome everyone!</p>
    
    <p>With a new fall comes a brand new, <strong>revolutionary</strong> way to play Ultimate Frisbee.</p>
    
    <p><strong>Florida ranks #2 in beach coastline</strong> with 1,350 miles of pristine, gorgeous, sunny, beaches (trivia: Alaska is #1 but surprisingly no one likes playing beach frisbee there).</p>
    
    <p>Yet we haven't taken advantage of this wondrous gift.</p>
    
    <p>For this reason, we've decided for this fall and winter to offer our <strong>first organized Beach Ultimate League</strong>.</p>
    
    <p>>We'll games on Saturday mornings at 10am near the beach space by Park & Ocean <strong>staring November, 4th and played until December 9th.</strong>  Our finals would be on December 16th.</p>
    
    <p>Following this league we would transition to a Winter Beach League managed and run by the wonderful Fiasco ladies (more information to follow).</p>
    
    <p>The cost would be significantly reduced, most likely $10, making it one of our cheapest leagues ever.</p>
    
    <p>The games would be 4v4 with either a 3-1 or 2-2 gender ratio.  We'll be looking to find a competitive & fun level of play.</p>
    
    <p>We'll be hosting the draft on October 21st, and we're looking for captains.</p>
    
    <p>Thanks,</p>
  </div>

  <div style="background-color: gray;background-color: #dddddd;text-align: center;padding: 18px;">
    <a href="https://www.facebook.com/sflultimate/"><img src="http://www.sflultimate.com/images/email-signature/icon-facebook.png" style="max-width: 40px; padding: 5px;"></a>
    <a href="http://www.sflultimate.com/"><img src="http://www.sflultimate.com/images/email-signature/icon-link.png" style="max-width: 40px;padding: 5px;"></a>
    <a href="mailto:sflultimate@gmail.com"><img src="http://www.sflultimate.com/images/email-signature/icon-mail.png" style="max-width: 40px;padding: 5px"></a>
  </div>

</div>

<script>

  var $p  = document.getElementsByTagName('p');
  var $li = document.getElementsByTagName('li');

  console.log($li);

  var styles = {
    fontFamily:"-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
    fontSize: "18px",
    lineHeight: "25px",
    color: "#333"    
  };

  
  for (var i = 0; i < $p.length; i++) {
    for (var style in styles) {
      $p[i].style[style] = styles[style];
    }
  }

  for (var i = 0; i < $li.length; i++) {
    for (var style in styles) {
      $li[i].style[style] = styles[style];
    }
  }

</script>



