extends ../layouts/default

block head
    meta(property="og:title"        content="Host a Frisbee Clinics")
    meta(property="og:url"          content="https://www.sflultimate.com/clinics")
    meta(property="og:description"  content="Discover a way to host a ultimate frisbee clinic at your organization!")

    style.

        img.parallax-image {
            max-width: 100%;
            width: 100%;
            height: auto;
        }

        .simpleParallax {
            height: 500px;
        }

        .ultimate-soul-logo-container {
            background: #f3f3f3;
            border-top: 23px solid #8cdefa;
            border-bottom: 23px solid #8cdefa;
        }

        .ultimate-soul-logo {
            max-width: 300px;
            height: auto;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        .team-image {
            max-width: 100%;
            height: auto;
        }

        .site-footer {
            margin-top: 0;
        }

        h1, .h1 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            color: #000172;
        }

        .btn.btn-large {
            padding: 0.5em 1.25em;
            font-size: 20px;
            border: 3px solid #5872d2;
            background: #8092fa;
            margin: 0 auto;
            display: inline-block;
        }

        .last-div {
            margin-bottom: 30px;
        }

        .information {
            font-size: 20px;
            line-height: 1.618;
            color: white;
            padding-top: 2em;
            padding-bottom: 2em;
            margin-top: 1em;
            margin-bottom: 1em;
            position: relative;
            background-color: #2790af;
        }

        .information::after {
            content: "";
            background-image: url(/images/ultimate-soul/looking-down.jpg);
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 10;
            width: 100%;
            background-size: cover;
        }

        .information .h1 {
            border-bottom: white 10px solid;
            padding-bottom: 20px;
        }

        .information .h1, .things-we-teach {
            color: white;
            font-weight: 800;
            text-transform: uppercase;
            text-align: left;
            font-size: 3em;
            line-height: 1;
            font-family: 'Roboto Condensed', 'Roboto', sans-serif;
        }

        .things-we-teach {
            color: #5872d2;
            border-left: #8092fa 10px solid;
            padding-left: 20px;
            margin-left: 40px;
        }

block content

    img(class='parallax-image' src='/images/ultimate-soul/smiles.jpg')

    .container.text-center

        img(src='/images/ultimate-soul/ultimate-soul-logo.png' class='ultimate-soul-logo')

        h1 Join the New Sports Academy

        p.lead We are world-level Ultimate players with different professional backgrounds and one mission: to establish sports as an universal right that fosters positive values.

        a.btn.btn-primary.btn-large(href='https://ultimate-soul.com/indexENG.html#academy' target='_blank') Learn More

        hr

    .container-fluid
        .row
            .col-md-4
                h3.things-we-teach.h1.
                    Things<br/>
                    We<br/>
                    Teach
            .col-md-8
                article
                    h4 Positive Values
                    p We use sports as a tool for education and self-improvement
                article
                    h4 Gender Equality
                    p We actively encourage mixed gender play
                article
                    h4 Teamwork
                    p We emphasize communication and collaboration
                article
                    h4 Communication
                    p We use the self-officiation as practice to resolve conflict

    .information
        .container
            .row.about-ultimate
                .col-md-7
                    p As a USA nonprofit, we collaborate with South Florida Ultimate to promote the sport of Ultimate Frisbee and establishing atlethism programs, except we specifically focus on sports psychology.
                    p We are leading the first youth Ultimate program in South Florida that includes children with psychiatric diagnosis such as:
                    ul
                        li Attention Deficit/Hyperactivity Disorder
                        li Oppositional Defiant Disorder
                        li Depression
                    p As part of our Ultimate promotion projects, we have sponsored South Florida Ultimate tournaments and we have developed clinics for religious nonprofits in order to promote the sport and its values.
                    p Ultimate Soul, inc is also managing the organizational development of FIRE Ultimate Miami, a worldwide recognized team that was originated in Colombia and has now started its new team formation in Florida with our support.
                .col-md-5
                    h3.h1.
                        About<br/>
                        Ultimate<br/>
                        Soul

    .container.text-center.last-div
        p.h1 Join the New Sports Academy
        p.lead We are currently taking in the next set of kids excited to play this new sport!
        a.btn.btn-primary.btn-large(href='https://ultimate-soul.com/indexENG.html#academy' target='_blank') Learn More


    img(class='team-image' src='/images/ultimate-soul/team.jpg')

    script(src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js")
    script.
        (function () {
            var image = document.getElementsByClassName('parallax-image');
            new simpleParallax(image);
        })();
